body {
    background-color: black;
}

.grid_container {
    height: 100%;

    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: repeat(5, 20%);

    align-items: center;
}

.grid_item {
    text-align: center;
}

.circle {
    height: 90px;
    width:  90px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}